body.dark-mode {
  background-color: #1a1a1a;
  color: white;
}

#services.dark-mode {
  background-color: #333;
}

.header-text.dark-mode {
  color: white;
}

.text-services.dark-mode {
  color: white;
}



.cards.dark-mode {
  background-color: #444;
  color: white;
}

.cards.dark-mode:hover {
  box-shadow: 0 8px 16px rgba(255, 121, 0, 0.2);
}

.headers3,
.header1 {
  background-color: #ff7900;
}

.headerl-text.dark-mode:hover {
  color: #ff7900;
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}
