
  
  .icons-dashboard {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
  }
  .icons_header {
    vertical-align: middle;
    line-height: 1px;
    font-size: 30px;
  }
  .icon-dashboard, .icon_header {
    margin-right: 5px;
  }
  
  .close_icon {
    color: red;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }
  
  .header-dash {
    grid-area: header;
    height: 60px;
    display: flex;
    position: relative;
    right:60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  }
  
  .menu-icons {
    display: none;
  }
  
  #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #ff7900;
    overflow-y: auto;
    transition: all 0.5s;
    width: 200px;
    -webkit-transition: all 0.5s;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;
    margin-bottom: 30px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 13px;
  }
  
  .sidebar-list-item:hover {
    background-color:#9f4c04;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }
  
  /* End Sidebar  */
  
  
  /* Main  */  
  .mains-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    display: grid;
    justify-content: center;
    color: rgba(255, 255, 255, 0.95);
  }
  
  .mains-title {
    display: flex;
    justify-content: space-between;
  }
  
  .mains-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;

    margin: 15px 0;
  }
  
  .cardss-dashboard {
    display: flex;
    flex-direction: column;
    padding: 8px 15px;
    font-size: 15px;
    width:180px;
    border-radius: 5px;
  }
  
  .cardss-dashboard:first-child {
    background-color: #2962ff;
    font-size: 10px;
    height:80px;
    color:white;

  }
  
  .cardss-dashboard:nth-child(2) {
    background-color: #ff6d00;
    height:80px;
    color:white;


  }
  
  .cardss-dashboard:nth-child(3) {
    background-color: #2e7d32;
    height:80px;
    color:white;


  }
  
  .cardss-dashboard:nth-child(4) {
    background-color: #d50000;
    height:80px;
    color:white;


  }
  
  .cardss-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cardss-inner > .card_icon {
    font-size: 25px;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    height: 300px;
    width: 1000px;
    position: relative;
    right:20px
  }
  
  
  
    
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        'header'
        'main';
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
    
  @media screen and (max-width: 768px) {
    .mains-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
  
  
  @media screen and (max-width: 576px) {
    .hedaer-left {
      display: none;
    }
  }
  .dropbtn{
    background-color: white;
    border:none;
    position: relative;
    bottom: 10px;
    

    }
    
      
      .dropdown-content {
        display: none;
        font-size: 13px;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 99px;
        border-radius: 12px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        top:10px;
        right: 10px;
        
      }
      
      
      .dropdown-content a {
        float: none;
        color: black;
        padding: 5px 5px;
        text-decoration: none;
        border-radius: 12px 0px 12px 0px;
    
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #ff7900;
        color:white;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .link-dropdown{
        float: none;
        color: black;
        padding: 0px 0px;
        text-decoration: none;
        border-radius: 12px;
    
        display: block;
        text-align: left;
      }